.signup-form {
    margin: 30px 20px 0 20px;

    mat-grid-list {
        margin: 0 20px;
        mat-grid-tile {
            background: rgb(221, 228, 231);
            mat-form-field {
                width: 70%;
            }
        }
    }
}
